body {
    background: #1B2631;
}

#fondoCard {
    position: absolute;
    width: 1391px;
    height: 243px;
    left: 243px;
    top: 729px;

    background: rgba(217, 217, 217, 0.5);
}

#card {
    position: absolute;
    width: 1145px;
    height: 150px;
    left: 150px;
    top: 774px;

    background:rgba(255, 255, 255);
}

